<ion-view title="Arizona" id="page9">
    <ion-content padding="true" class="has-header">
        <ion-list id="arizona-list11">
            <ion-item class="item-divider " id="arizona-list-item-divider2">Item</ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/Pk0go787TvubK0VZPKRu_12.png&amp;h=80&amp;w=80">
                <h2>Arizona Wildcats</h2>
                <p>
                    <b>Available Games:</b>2
                    <br>
                    <b>Remaining Games:</b>10</p>
            </ion-item>
            <ion-item class="item-divider " id="arizona-list-item-divider3">Schedule</ion-item>
        </ion-list>
        <ion-list id="arizona-list12">
            <ion-item id="arizona-list-item9">v BYU
                <a href="#">add to queue</a>
            </ion-item>
            <ion-item id="arizona-list-item10">v Grambling St
                <a href="#">add to queue</a>
            </ion-item>
            <ion-item id="arizona-list-item11">
                <span style="color:#aaa;">v Hawaii</span>
            </ion-item>
            <ion-item id="arizona-list-item12">
                <span style="color:#aaa;">v Washington</span>
            </ion-item>
            <ion-item id="arizona-list-item26">
                <span style="color:#aaa;">@ Utah</span>
            </ion-item>
            <ion-item id="arizona-list-item13">
                <span style="color:#aaa;">@ UCLA</span>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>