<ion-view title="Arizona St" id="page10">
    <ion-content padding="true" class="has-header">
        <ion-list id="arizonaSt-list14">
            <ion-item class="item-divider " id="arizonaSt-list-item-divider6">Item</ion-item>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Title</h2>
                <p>Item</p>
            </ion-item>
            <ion-item class="item-divider " id="arizonaSt-list-item-divider7">Item</ion-item>
            <ion-item id="arizonaSt-list-item27">Item</ion-item>
            <ion-item id="arizonaSt-list-item28">Item</ion-item>
            <ion-item id="arizonaSt-list-item29">Item</ion-item>
            <ion-item id="arizonaSt-list-item30">Item</ion-item>
            <ion-item id="arizonaSt-list-item31">Item</ion-item>
            <ion-item id="arizonaSt-list-item32">Item</ion-item>
        </ion-list>
    </ion-content>
</ion-view>