<ion-view title="Calendar" id="page3">
    <ion-content padding="true" class="has-header">
        <ion-list id="calendar-list17">
            <ion-item class="item-divider " id="calendar-list-item-divider8">Upcoming Games:</ion-item>
        </ion-list>
        <div class="list card " id="calendar-card4">
            <div class="item item-divider">Next Game</div>
            <div class="item item-body"></div>
        </div>
        <div class="list card " id="calendar-card5">
            <div class="item item-divider">Next Game</div>
            <div class="item item-body"></div>
        </div>
        <div class="list card " id="calendar-card6">
            <div class="item item-divider">Next Game</div>
            <div class="item item-body"></div>
        </div>
        <div class="list card " id="calendar-card7">
            <div class="item item-divider">Next Game</div>
            <div class="item item-body"></div>
        </div>
    </ion-content>
</ion-view>