<ion-view title="GC Status" id="page4">
    <ion-content padding="true" class="has-header">
        <form id="gCStatus-form3" class="list ">
            <label class="item item-input " id="gCStatus-input6">
                <span class="input-label">Content</span>
                <input type="text" placeholder="operational">
            </label>
            <label class="item item-input " id="gCStatus-input7">
                <span class="input-label">Catalog</span>
                <input type="text" placeholder="oeprational">
            </label>
            <label class="item item-input " id="gCStatus-input8">
                <span class="input-label">Downloader</span>
                <input type="text" placeholder="waiting">
            </label>
            <label class="item item-input " id="gCStatus-input9">
                <span class="input-label">Mobile</span>
                <input type="text" placeholder="operational">
            </label>
        </form>
		<button ng-click="takePic()">GetPic</button>
		<img ng-src="{{(imageSvc.currentImage.imageUrl)?imageSvc.currentImage.imageUrl:imageSvc.currentImage.imageFile.localURL}}">
    </ion-content>
</ion-view>
