<ion-view title="History" id="page8">
    <ion-content padding="true" class="has-header">
        <div class="list card " id="history-card1">
            <div class="item item-divider">11/9/2016 @ 10:22PM</div>
            <div class="item item-body">
                <div>
                    <table>
                        <tbody>
                            <tr>
                                <td style="width:30%;text-align:center;">
                                    <img src="http://a.espncdn.com/combiner/i?img=/i/teamlogos/ncaa/500/26.png&amp;h=80&amp;w=80">
                                </td>
                                <td style="width:30%;text-align:center;">
                                    <img src="http://a.espncdn.com/combiner/i?img=/i/teamlogos/ncaa/500/204.png&amp;h=80&amp;w=80">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <ion-list id="history-list15"></ion-list>
            </div>
        </div>
        <div class="list card " id="history-card2">
            <div class="item item-divider">11/2/2016 @ 6:41PM</div>
            <div class="item item-body">
                <div>
                    <table>
                        <tbody>
                            <tr>
                                <td style="width:30%;text-align:center;">
                                    <img src="http://a.espncdn.com/combiner/i?img=/i/teamlogos/ncaa/500/24.png&amp;h=80&amp;w=80">
                                </td>
                                <td style="width:30%;text-align:center;">
                                    <img src="http://a.espncdn.com/combiner/i?img=/i/teamlogos/ncaa/500/38.png&amp;h=80&amp;w=80">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="list card " id="history-card3">
            <div class="item item-divider">11/2/2016 @ 3:24PM</div>
            <div class="item item-body">
                <div>
                    <table>
                        <tbody>
                            <tr>
                                <td style="width:30%;text-align:center;">
                                    <img src="http://a.espncdn.com/combiner/i?img=/i/teamlogos/ncaa/500/25.png&amp;h=80&amp;w=80">
                                </td>
                                <td style="width:30%;text-align:center;">
                                    <img src="http://a.espncdn.com/combiner/i?img=/i/teamlogos/ncaa/500/264.png&amp;h=80&amp;w=80">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>