<ion-view title="Login" id="page11">
    <ion-content padding="true" class="has-header">
        <form id="login-form2" class="list ">
            <ion-list id="login-list16">
                <label class="item item-input " id="login-input4">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="login-input5">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <a ui-sref="tabsController.teams" id="login-button5" class=" button button-stable  button-block ">Log in</a>
        </form>
    </ion-content>
</ion-view>