<ion-view title="Queue" id="page5">
    <ion-content padding="true" class="has-header">
        <ion-list id="queue-list2">
            <ion-item class="item-thumbnail-left">
                <img src="img/Nb8VcgSCuQmZG7jDCMOQ_asu.png">
                <h2>v. Arizona St</h2>
                <p>11/12/2016
                    <br>O-D-K (12) files</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/mykCjvwTvqglidjSFKf6_oregon.png">
                <h2>@ Oregon</h2>
                <p>11/19/2016
                    <br>O-D-K (11) files</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/EHfwmjvSaILWhw6tPTPg_wsu.png">
                <h2>v Washington St</h2>
                <p>11/26/2016
                    <br>O-D-K (14) files</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/XP9r1y94QJitAS7ccs4L_pac12.png">
                <h2>Conference Office</h2>
                <p>11/26/2016
                    <br>Officials mp4 Format</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>