<ion-view title="Settings" id="page6">
    <ion-content padding="true" class="has-header">
        <ion-list id="settings-list3"></ion-list>
        <form id="settings-form1" class="list ">
            <label class="item item-input " id="settings-input2">
                <span class="input-label">User</span>
                <input type="text" placeholder="gc user account">
            </label>
            <label class="item item-input " id="settings-input3">
                <span class="input-label">Email</span>
                <input type="text" placeholder="email address">
            </label>
            <ion-toggle toggle-class="toggle-positive" id="settings-toggle2">Notifications?</ion-toggle>
            <ion-item class="item-divider " id="settings-list-item-divider1">Team Subscriptions</ion-item>
            <ion-checkbox>Arizona</ion-checkbox>
            <ion-checkbox>Arizona St</ion-checkbox>
            <ion-checkbox>California</ion-checkbox>
            <ion-checkbox>Colorado</ion-checkbox>
            <ion-checkbox>Oregon</ion-checkbox>
            <ion-checkbox>Oregon St</ion-checkbox>
            <ion-checkbox>Stanford</ion-checkbox>
            <ion-checkbox>UCLA</ion-checkbox>
            <ion-checkbox>USC</ion-checkbox>
            <ion-checkbox>Utah</ion-checkbox>
            <ion-checkbox>Washington</ion-checkbox>
            <ion-checkbox>Washington St</ion-checkbox>
        </form>
    </ion-content>
</ion-view>